.ww-question,
.ww-response {
	border: 1px dashed #ccc;
	overflow: hidden;
	padding-bottom: 20px; /* for vote checkbox */
	position: relative;
}

.ww-question-gloss {
	font-style: italic;
}

.ww-question-header {
	padding: 3px 8px;
	text-align: right;
}

.question-open .ww-question-header {
	color: #fff;
}

.question-open .ww-question-header a {
	color: #fff;
	text-decoration: none;
	box-shadow: none;
}

.question-open.question-unanswered .ww-question-header {
	background: #f00;
}

.question-open.question-answered .ww-question-header {
	background: green;
}

.question-closed .ww-question-header-toggle-label,
.question-open .ww-question-header-text {
	padding-right: 8px;
}

.question-closed .ww-question-header-text {
	display: none;
}

.ww-question > h3,
.ww-response > h3 {
	margin: 8px;
}

.question-closed .hide-when-closed {
	display: none;
}

.ww-author-avatar {
	width: 120px;
	text-align: center;
	padding: 8px;
	float: left;
}

.ww-question-content {
	padding-left: 120px;
}

.ww-response {
	margin-left: 20px;
}

.ww-answered {
	position: absolute;
	bottom: 3px;
	left: 120px;
	font-style: italic;
}

.ww-score {
	position: absolute;
	bottom: 3px;
	right: 8px;
}

.ww-score-value {
	font-style: italic;
}
