/** General ******************************************************************/

/**
 * blue: #0044af
 */

.ww-main {
	float: left;
	margin-right: -100%;
	width: 70%;
}

.ww-sidebar {
	float: left;
	margin-left: 75%;
	padding: 0;
	width: 25%;
}

.ww-header {
	text-transform: uppercase;
	font-weight: bold;
}

h2.ww-header {
	font-size: 1.8rem;
}

.app-loading-throbber {
	display: none;
}

.app-loading .app-loading-throbber {
	display: block;
	width: 200px;
	height: 75px;
	font-weight: bold;
	font-size: 150%;
	background-color: #ccc;
	padding-top: 20px;
	text-align: center;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 50px;
	opacity: 50%;
}

.app-loading .app-content {
	opacity: .15 !important;
}

/** Index *********************************************************************/

.index-intro > p {
	line-height: 1.7rem;
	font-weight: 600;
	font-size: 1.2rem;
}

.index-intro,
.index-list,
ul.question-list > a {
	margin: 16px 0;
	padding: 16px;
}

ul.question-list > a {
	display: block;
	text-decoration: none;
	margin-bottom: 50px;
}

.index-list {
	position: relative;
}

.question-sort {
	position: absolute;
	right: 10px;
	top: 15px;
}

#webwork-app .question-list {
	list-style-type: none;
	margin-top: 26px;
}

.question-list > a {
	text-decoration: none;
}

.question-list > a:hover {
	background: #ccc;
}

/** Problem *******************************************************************/

.ww-problem {
	position: relative;
}

.problem-topmatter {
	position: relative;
}

.problem-questions {
	position: relative;
}

.ww-problem > h2 {
	min-height: 1em;
}

.item-stats {
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: .8em;
	border: 1px solid #aaa;
	padding: 4px 8px;
	white-space: nowrap;
}

.item-stats.question-stats {
	top: auto;
	bottom: 6px;
	right: 6px;
}

.item-stats > div {
	float: left;
	padding: 0 6px;
	border-right: 1px solid #aaa;
}

.item-stats > div:first-child {
	padding-left: none;
}

.item-stats > div:last-child {
	padding-right: none;
	border-right: none;
}

.ww-problem-summary {
	margin-bottom: 60px;
}

.ww-question-problem-summary {
	margin: 16px;
	padding: 16px;
	overflow: hidden;
	cursor: pointer;
}

.preserve-whitespace {
	white-space: pre-line;
}

.ww-question-problem-summary:hover {
	border: 1px solid #333;
}

.ww-question-problem-summary.problem-summary-collapsed {
	height: 50px;
	opacity: .25;
}

.ww-question-problem-summary.problem-summary-collapsed:hover {
	opacity: 1;
}

.ww-ask-question-form.form-collapsed .question-block {
	display: none;
}

.question-course-data {
	margin: 5px 20px;
	text-decoration: underline;
	font-size: .9em;
	max-width: 50%;
}

.question-form textarea {
	margin-bottom: 20px;
	width: 100%;
}

.ww-ask-question-form {
	margin: 16px 0 60px;
	padding: 16px;
	position: relative;
}

.ww-ask-question-form .accordion-toggle {
	position: absolute;
	top: 6px;
	right: 16px;
}

.ww-question,
.ww-response {
	overflow: visible;
	padding-bottom: 20px; /* for vote checkbox */
	position: relative;
}

.ww-question {
	margin-top: 15px;
}

.ww-response {
	padding-top: 10px;
	position: relative;
}

.response-user-type {
	position: absolute;
	top: 0;
	right: 0;
	padding: 4px 10px;
	font-size: .7em;
	background: #ccc;
	border: 1px solid #666;
}

.ww-response-content {
	padding-left: 136px;
}

.ww-question-gloss {
	font-style: italic;
}

.ww-question-header {
	padding: 3px 8px 7px;
	text-align: right;
	margin: 0 0 30px;
}

.question-open .ww-question-header {
	color: #fff;
}

.question-open .ww-question-header a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	box-shadow: none;
	font-weight: bold;
	font-size: .9rem;
}

.question-open.question-unanswered .ww-question-header {
	background: #000;
}

.question-open.question-answered .ww-question-header {
	background: #0044af;
}

.question-closed .ww-question-header-toggle-label,
.question-open .ww-question-header-text {
	padding-right: 8px;
}

.question-closed .ww-question-header-text {
	display: none;
}

.accordion-content {
	transition: max-height .25s ease;
	max-height: 10000px;
	overflow: hidden;
}

.accordion-content.accordion-closed {
	max-height: 0;
	transition: max-height .25s ease;
}

.respond-link {
	position: absolute;
	top: 35px;
	right: 8px;
}

.is-answer {
	background-color: #b6d7a8;
}

.ww-question > h3,
.ww-response > h3 {
	margin: 8px;
}

.question-closed .hide-when-closed {
	display: none;
}

.ww-author-avatar {
	width: 120px;
	text-align: center;
	position: absolute;
}

.ww-question-link {
  color: #0044af;
	font-weight: bold;
}

.ww-author-name {
	font-size: 1.4rem;
	margin-bottom: .5em;
}

.ww-question-subtitle {
	color: #777;
	font-size: 1rem;
	margin: 0 0 40px;
	text-transform: uppercase;
}

.ww-question-subtitle-sep {
	padding: 0 10px;
}

/* Common for Twenty themes */
.entry-content #webwork-app li {
	margin-left: 0;
}

.question-closed .ww-author-name {
	margin-left: 30px;
}

.ww-question-content {
	/* 120px + 8px*2 padding for avatar */
	padding-left: 136px;
}

.ww-question-content-section {
  text-indent: 15px;
	margin-bottom: 1em;
}

.response-form textarea {
	margin: 1em 0;
	width: 95%;
	padding: 10px 2%;
}

#webwork-app .ww-response-list > ul > li {
	overflow: hidden;
	margin-left: 20px;
}

.ww-answered {
	margin-top: 1em;
	font-style: italic;
}

.ww-score {
	position: absolute;
	bottom: 3px;
	right: 8px;
}

.ww-score-value {
	font-style: italic;
}

.problem-library-id {
	margin-top: 2em;
	font-weight: bold;
	max-width: 60%;
}

.ww-disabled-input {
	width: 50px;
	margin-bottom: 1em;
}

/** Sidebar ******************************************************************/

.ww-sidebar-widget {
	background-color: #0044af;
	color: #fff;
	font-size: 1rem;
	margin-top: 8px;
	padding: 20px 12px;
}

.ww-sidebar-widget p {
	line-height: 1.2rem;
}

.ww-question-filters {
	list-style-type: none;
	margin: 0;
}

.ww-question-filters > li {
	margin: 12px 0 0;
}

.toggle-enabled {
	font-weight: bold;
}
